body{
margin-top: 5px;
}

.bod{
    background-color: rgb(247, 236, 222);
}

.header{
    height: 25vh;
    background-color: rgb(73, 169, 201);
    width: 100%;
}
#title{
    display: table-cell;
    color: white;
    text-align: center;
    vertical-align: middle;
}

main{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(73, 169, 201);
    min-height: 300px;
    font-family: 'McLaren', cursive;
    margin-bottom: 10px;
    background-color: aliceblue;
}

.trainTitle{
    height: 5vh;
    background-color: rgb(73, 169, 201);
    display: table;
    width: 100%;
}

.label{
    display: table-cell;
    vertical-align: middle;
    margin-left: 2px;
    padding-right: 130px;
}

.inline{
    display: inline-block;
    margin-right: 20px;
}

.trains{
    margin-top: 2px;
    margin-left: 5px;
}

.header, main{
    display: table;
    border-radius: 5px;
}

.inputs{
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 5px;
}

.btn{
    margin: 5px;
}

.line{
    width: 95%;
}